<app-top-nav></app-top-nav>
<main>
  <h1 style="color:#4db6ac; font-size:25px; margin-top:25px">Reset your password</h1>
    <h2 style="font-size:15px; margin-bottom:1px; margin-top:5px;" *ngIf="unsent">Enter your username and a verification code will be sent to the email address you signed up with.
    </h2>
    <h2 style="font-size:15px; margin-bottom:1px; margin-top:5px;" *ngIf="sent">Complete the below steps to reset your password:
    </h2>
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="center">
    <mat-form-field *ngIf="unsent"  appearance="outline">
      <input [(ngModel)]="username" type="name" name="username" matInput placeholder="Enter your username">
    </mat-form-field>
    <mat-form-field *ngIf="sent" appearance="outline">
      <input [(ngModel)]="verificationCode" type="name" name="verificationCode" matInput placeholder="Enter your verification code">
    </mat-form-field>
    <br> 
    <button *ngIf="unsent" mat-raised-button color="primary" (click)="sendCode()">Send Code</button>
    <mat-form-field *ngIf="sent" appearance="outline">
      <input [(ngModel)]="password" type="password" name="password" matInput placeholder="Enter your new password">
      <mat-hint style="font-size:75%;padding-top:2px;">Minimum 8 characters, must contain number and special character</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="sent" appearance="outline">
      <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" matInput placeholder="Confirm your new password">
    </mat-form-field>
    <br>
      <button *ngIf="sent" mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
    <br>
      <mat-hint style="color: red; font-size: 75%">{{errorMessage}}
    </mat-hint>
  </div>
</div>
</div> 
</main>