<main>
  <h1 style="color:#4db6ac; font-size:25px">Reset your password</h1>
    <br>
    Enter your answer to your one of your security questions to reset your password.
    <br>
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="center">
          <br>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="securityQuestion1" placeholder="Security Question 1">
              <mat-option value="What is your favorite color?">What is your favorite color?</mat-option>
              <mat-option value="Name of your best friend?">Name of your best friend?</mat-option>
              <mat-option value="Favorite Disney character?">Favorite Disney character?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="height:75px; width:1px; border-left:1px#bbb solid">
      </div>
      <div fxFlex="100">
        <div align="center">
          <br>
          <mat-form-field appearance="outline">
            <input [(ngModel)]="securityAnswer1" matInput placeholder="Answer...">
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" (click)="validateAnswers()">Submit</button>
    <mat-form-field *ngIf="valid" appearance="outline">
      <input [(ngModel)]="password" type="password" name="password" matInput placeholder="Enter your new password">
      <mat-hint *ngIf="valid" style="font-size:75%;padding-top:2px;">Minimum 8 characters, must contain number and special character</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="valid" appearance="outline">
      <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" matInput placeholder="Confirm you new password">
    </mat-form-field>
    <br>
      <button *ngIf="valid" mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
    <br>
      <mat-hint style="color: red; font-size: 75%">{{errorMessage}}
    </mat-hint>
</main>