<main>
  <h1 style="color:#4db6ac;">Reset your password</h1>
  <p>
    <br>
    <mat-form-field appearance="outline">
      <input [(ngModel)]="password" type="password" name="password" matInput placeholder="Enter your new password">
    </mat-form-field>
    <br>
    <mat-hint>Minimum 8 characters, must contain number and special character</mat-hint>
    <br>
    <mat-form-field appearance="outline">
        <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" matInput placeholder="Confirm Password">
      </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <br>
    <mat-hint style="color: red; font-size: 78%">{{message}}
    </mat-hint>
  </p>
</main>