
main {
    display: flex;
    flex-direction: column;

    mat-form-field{
        height: 60px;
        width: 380px;
        margin-top: 10px;
    }
    mat-hint{
        font-size: 75%;
    }
    button{
        margin-top: 10px;
        margin-bottom: 1px;
    }
}
