<main>

  <body class="admin-background">
    <br><br>
    <mat-grid-list cols="2" rowHeight="6em">
      <mat-grid-tile cols="1">
        <h3>Change background image or environmental fact here</h3>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <div class="text-inside-grid">
          <h3 class="right-title">Enter environmental fact</h3>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="12em">
      <mat-grid-tile class="upload-box" cols="1">
        <div class="upload-btn-wrapper">
          <button class="upload-file">Choose Fact Image</button>
          <input type="file" accept="image/*" (change)="fileEvent($event)" />
          <label class="upload-file-name" *ngIf="imageFile">{{imageFile.name}}</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <div class="text-inside-grid">
          <mat-form-field appearance="outline" style="width:500px; font-weight:bold">
            <textarea [(ngModel)]="factOfTheDayText" 
              name="factOfTheDayText" 
              style="color:black" 
              matInput placeholder="Americans use about 120 million plastic straws each day"
              maxlength="120" rows=""></textarea>
            <mat-hint>120 Characters limit</mat-hint>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="20em">
      <mat-grid-tile cols="1">
        <h2 align="left" *ngIf="successMessage" style="color:red">{{successMessage}}</h2>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <button mat-raised-button color="primary" (click)="save()">Save Changes</button>
      </mat-grid-tile>
    </mat-grid-list>
  </body>
</main>