main {
    padding-top: 100px;
}

mat-form-field {
    width: 380px;
}

button.mat-raised-button {
    padding-left: 2em;
    padding-right: 2em;
    width: 250px;
    font-size: 18 px;
}
.textarea{
    box-sizing : 1000px;
}