<h1>From Landing...</h1>
<!-- second row with user greeting -->
<mat-toolbar color="foreground">
    <mat-toolbar-row>
      <span class="cis-logo"></span>
      <span class="spacer"></span>
      <!-- and a serach component -->
      <span>Hi {{username}}, what actions have you taken today?</span>
      <span class="spacer"></span>
      <p>Your Score:
        <span class="score-flag">{{ userscore }}</span>
      </p>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/images/light-bulb.svg" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Turn off the lights</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/images/bike.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Bike to school</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/images/recycle.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Recycle your papers</mat-grid-tile>
</mat-grid-list>

