<app-top-nav></app-top-nav>
<main>
    <img src="{{factUrl}}" class="bg" alt="">
    <div>
        <mat-grid-list cols="2" rowHeight="3.5em">
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <h1>Being mindful is simple.</h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <h1>And impactful.</h1>
            </mat-grid-tile>
            <mat-grid-tile id="icon" [colspan]="2" [rowspan]="2">
                <img src="/assets/images/icons/care.png" style="padding:70px" />
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" class="plastic">
                <h3>{{'Plastic Pollution' | uppercase}}</h3>
            </mat-grid-tile>
            <mat-grid-tile class="fact" [colspan]="2" [rowspan]="1">
                <h3 class="fact">{{factOfTheDayText}}</h3>
            </mat-grid-tile>
        </mat-grid-list>
            <app-log-in>
            </app-log-in>
    </div>
</main>