<h1>From Landing...</h1>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/light-bulb.svg" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Turn off the lights</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/bike.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Bike to school</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/recycle.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Recycle your papers</mat-grid-tile>
</mat-grid-list>