<div>
    <img src='/assets/images/Congrats_icn.svg'>
  <h2 mat-dialog-title>Way to go!</h2>
  <hr>
  <mat-dialog-content>
    <div *ngIf="!displayAssignment"> You're about to add {{action.eligiblePoints}} points to your score.  Keep up the good work!
      </div>  
    <br>
    <br>
    <i style="color:gray">{{action.funFact}}</i>
    <br>
    <img src={{action.funFactImageUrl}}>
   <div  *ngIf = "displayAssignment">
    <br> Congrats! You just added {{action.eligiblePoints}} to your score.
    <br> Here is an <a  href = '{{action.assignmentUrl}}' (click)="closeWindow()" target="_blank">assignment </a> you can take as part of this action. 
 </div> 
  </mat-dialog-content>
  <hr>
  <div align="right">
    <button mat-stroked-button color="primary" (click)="onCloseCancel()">UNDO</button> 
    <button *ngIf="!displayAssignment" mat-raised-button color="primary" (click)="onCloseConfirm()">CONFIRM</button>
    <button *ngIf="displayAssignment" mat-raised-button color="primary" (click)="closeWindow()">DONE</button>
  </div>      
</div>