<div>
    <img src='/track-change-simplyimpactful/images/Congrats_icn.svg'>
  <h2 mat-dialog-title>Way to go!</h2>
  <hr>
  <mat-dialog-content>
    You've just added {{action.points}} points to your score.  Keep up the good work
    <p>Your current status is: </p><strong>{{action.status}}</strong>
    <br>
    <br>
    <i style="color:gray">{{action.fact}}</i>
    <br>
    <img src={{action.imageUrl}}>
  </mat-dialog-content>
  <hr>
  <div align ="right">
    <button mat-raised-button color="primary" (click)="onCloseConfirm()">UNDO</button> 
    <button mat-raised-button color="primary" (click)="onCloseConfirm()">CONFIRM</button>
  </div>      
</div>