img{
    max-width: 300px;
    max-height: 300px;
}
button.mat-stroked-button {
    margin-right: 10px;
    width: 80px;
    text-align: center;
    padding: 0px
}
button.mat-raised-button {
    margin-right: 15px;
    width: 80px;
    text-align: center;
    padding: 0px;
}
mat-hint{
    font-size:5px;
}