<div>
    <img src='/assets/images/Congrats_icn.svg'>
  <h2 mat-dialog-title>Way to go!</h2>
  <hr>
  <mat-dialog-content>
    You're about to add {{action.eligiblePoints}} points to your score.  Keep up the good work!
    <br>
    <br>
    <i style="color:gray">{{action.funFact}}</i>
    <br>
    <img src={{action.funFactImageUrl}}>
    <br> <br> Here is an <a href = 'https://static1.squarespace.com/static/52cdeef1e4b0874a24181252/t/5bb7a1ff104c7b4250121379/1538761216841/MathAssignmentEnergy.pdf' target="_blank">assignment </a> you can take as part of this action. 
  </mat-dialog-content>
  <hr>
  <div align="right">
    <button mat-stroked-button color="primary" (click)="onCloseConfirm()">UNDO</button> 
    <button mat-raised-button color="primary" (click)="onCloseConfirm()">CONFIRM</button>
  </div>      
</div>