<main>
  <h3 class="card-header">Group Info table</h3>
  <button type="button" style = "margin:25px; width:150px; align-self: center" (click)="add()">Add new Type</button>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">GROUP TYPE</th>
      <th class="text-center">GROUP SUBTYPE</th>
      <th class="text-center">ACTION</th>
    </tr>
    <tr *ngFor="let groupType of typeList; let id = index">
      <td contenteditable="true" (keyup)="changeValue(id, 'type', $event)" (blur)="updateList(id, 'type', $event)">{{groupType.type}}</td>
      <td contenteditable="true" (keyup)="changeValue(id, 'subType', $event)" (blur)="updateList(id, 'subType', $event)">{{groupType.subType}}</td>
      <td>
      <span>
        <button type="button" size="sm" (click)="remove(id)">Remove</button>
      </span>
      </td>
    </tr>
      </table>
</main>
