<mat-card class="card-container" style="margin-top:-20px"(click)="openDialog('unplug')">
    <mat-card-header style="float:right;">
        <div mat-card-image class="score-flag">8</div>
    </mat-card-header>
<img mat-card-image src="/italladdsup/images/icons/plug.png">
</mat-card>
<mat-card class="card-container" (click)="openDialog('faucet')">
    <mat-card-header style="float:right;">
            <div mat-card-image class="score-flag">5</div>
    </mat-card-header>
    <img mat-card-image src="/italladdsup/images//icons/faucet.png"> 
</mat-card>
<mat-card class="card-container" (click)="openDialog('light')">
    <mat-card-header style="float:right;">
            <div mat-card-image class="score-flag">4</div>
    </mat-card-header>
    <img mat-card-image src="/italladdsup/images/icons/lightbulb.png">
</mat-card>
<br>