<main>
    <div class="top-row">
      <mat-toolbar style="background-color: transparent">
        <mat-toolbar-row>
          <span class="spacer"></span>
          <span class="spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <form>
      <mat-card *ngFor="let action of actions" class="card-container" style="margin-top:20px"(click)="openDialog(action.name, action)">
        <mat-card-header style="float:right;">
            <div mat-card-image class="score-flag">{{action.eligiblePoints}}</div>
        </mat-card-header>
    <img mat-card-image src={{action.tileIconUrl}}>
    </mat-card>
    </form>
</main>