
.card-container {
  margin: 50px;
  width: 200px;
  display: inline-block;
  height:200px;
  background-color: #F1F1F3;
  cursor: pointer;
}

  img {
    margin-top:20px;
    height: 80%;
    width: 60%;
  }

  .score-flag {
    height: 2.77em;
    margin-top:-24px;
    background: url('/assets/images/score-flag.png') no-repeat;
   // max-width: fit-content;
    
}