<main>
  <h3 class="card-header">Group Info table</h3>
  <button type="button" style = "margin:25px; width:150px; align-self: center" (click)="add()">Add new Type</button>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">GROUP TYPE</th>
      <th class="text-center">GROUP SUBTYPE</th>
    </tr>

    <tr *ngFor="let groupType of typeList">
      <td contenteditable="false">{{groupType.type}}</td>
      <td contenteditable="false">
        <span *ngFor="let subType of groupType.subType; let isLast=last">{{subType.subType}}<span *ngIf="!isLast">, </span>
        </span>
      </td>
    </tr>

    <tr *ngFor="let groupType of addTypeList">
      <td contenteditable="true" (keyup)="changeValue(id, 'type', $event)">{{groupType.type}}</td>
      <td contenteditable="true" (keyup)="changeValue(id, 'subType', $event)">{{groupType.subType}}</td>
    </tr>
  </table>
      <br>
      <button mat-raised-button color="primary" (click)="saveNew()">Save changes</button>  
</main>
