<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Top Navigation Content. Might need to be moved to its own component -->
<nav id="app-navbar">
  <mat-toolbar color="primary">
    <!-- top navigation with menu-->
    <mat-toolbar-row>
      <button class="nav-logo" title="{{title}}" routerLink="{{routerLink}}" (click)="toggle()"></button>
      <span class="spacer"></span>

      <a href = 'http://www.changeissimple.org/' class="white-text">About </a>
      <a href = './contactus'  class="white-text">Contact </a>
      <a *ngIf="!hideRightMenu" href = './level' class="white-text">Level </a>
      <a href = 'http://www.changeissimple.org/joinus/'  class="white-text">FAQ </a>

    <!--  <button class="white-text" style = "margin-top:52.5px;" mat-button routerLink="/contactus">Contact us</button> -->
      <div [hidden]="hideRightMenu" class="white-text">
        <span class="spacer"></span>
        <mat-card style="margin-right:10px"class="avatar-card">
            <mat-card-header>
              <img mat-card-avatar src="{{user.picture}}">
            </mat-card-header>
          </mat-card>
            <button class="mat-button" style = "width:1px;" [matMenuTriggerFor]="menu">
                <mat-icon>expand_more</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/userprofile">My Profile</button>
          <button mat-menu-item routerLink="/landing" (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<div id="flush-nav"></div>