/* latin */

#app-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
}

#flush-nav {
    display: block;
    height: 80px;
}

.nav-logo {
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    background: transparent url('/assets/images/CiS_bird_logo.png') left/4.25em no-repeat;
    background-size: 70%;
    border: none;
    background-color: none;
}

.search-group {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-group-full-width {
    width: 100%;
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.white-text {
    color: white;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
 //   background-color: none;
  }
.mat-card {
    display: inline-block;
}

.avatar-card {
    background: none;
    max-width: 20px;
    margin: 4px;
  }
  
  .avatar-header-image {
    background: transparent url('/assets/images/CiS_bird_logo.png');
    background-size: cover;
  }