<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Change Is Simple Logo" src="/track-change-simplyimpactful/assets/images/cis_logo.jpeg">
</div>
<h2>You can help the environment!</h2>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/light-bulb.svg" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Turn off the lights</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/bike.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Bike to school</mat-grid-tile>
  <mat-grid-tile fxFlex="20%">
    <img fxFlex="20%" src="/track-change-simplyimpactful/assets/images/recycle.png" />
  </mat-grid-tile>
  <mat-grid-tile fxFlex="40%">Recycle your papers</mat-grid-tile>
</mat-grid-list>