<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Top Navigation Content. Might need to be moved to its own component -->
<nav id="app-navbar">
    <mat-toolbar color="primary">
      <!-- top navigation with menu-->
      <mat-toolbar-row class="white-text">
        <button style="height:80px; width:80px;" class="nav-logo" title="{{title}}" routerLink="{{routerLink}}"></button>
        <button style="height:200px; width:200px;" class="nav-brand" title="{{title}}" routerLink="{{routerLink}}"></button>
        <span class="spacer"></span>
        <button mat-button routerLink="/adminaccesslanding">Landing</button>
        <button mat-button routerLink="/adminaccessactions">Actions</button>
        <button mat-button routerLink="/adminaccessusers">Users</button>
        <button mat-button routerLink="/adminaccessgroupinfo">Group Info</button>
        <button mat-button routerLink="/adminaccesslevel">Level Info</button>

        <div [hidden]="hideRightMenu" class="white-text">
            <span class="spacer"></span>
            <mat-card style="margin-right:10px; vertical-align:center"class="avatar-card">
                <mat-card-header>
                  <img mat-card-avatar src="{{user.picture}}">
                </mat-card-header>
              </mat-card>
                <button class="mat-button" style = "width:1px;" [matMenuTriggerFor]="menu">
                    <mat-icon style="vertical-align:center">expand_more</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
       <!--       <button mat-menu-item routerLink="/userprofile">My Profile</button> -->
              <button mat-menu-item routerLink="/home">Home Page</button>
              <button mat-menu-item routerLink="/landing" (click)="logout()">Logout</button>
            </mat-menu>
          </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
  <div id="flush-nav"></div>