<main>
  <h3 class="card-header">Level Info table</h3>
  <button type="button" style = "margin:25px; width:150px; align-self: center" (click)="add()">Add New Level</button>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">POINTS RANGE</th>
      <th class="text-center">LEVEL</th>
      <th class="text-center">ICON</th>
    </tr>
    <tr *ngFor="let level of levels; let id = index">
      <td contenteditable="true" (keyup)="changeValue(id, 'pointsRange', $event)" (blur)="updateList(id, 'pointsRange', $event)">{{level.pointsRange}}</td>
      <td contenteditable="true" (keyup)="changeValue(id, 'status', $event)" (blur)="updateList(id, 'status', $event)">{{level.status}}</td>
      <td contenteditable="true" (keyup)="changeValue(id, 'statusGraphicUrl', $event)" (blur)="updateList(id, 'statusGraphicUrl', $event)">
            <img src="{{level.statusGraphicUrl}}" style="max-width:35px; max-height:35px">
      </td>
    </tr>
      </table>
    <br>
    <button mat-raised-button color="primary" (click)="saveNew()">Save changes</button>  
</main>
