<app-top-nav></app-top-nav>

<body>
</body>
<main>
  <h2>Create a New Group</h2>
  <mat-grid-list cols="2" rowHeight="6em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.name" name="name" matInput placeholder="Group Name">
        <mat-hint>Required &nbsp;</mat-hint>
        <mat-hint style="color:red; font-size: 85%">
          {{namesError}}
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.zipcode" name="zipcode" matInput placeholder="Zip Code">
        <mat-hint>Required &nbsp;</mat-hint>
        <mat-hint style="color:red; font-size: 85%">
          {{zipcodeError}}
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <mat-select [formControl]="groupControl" placeholder="Group Type">
          <mat-optgroup *ngFor="let groupData of groupsData; let i = index" value="groupData.type" label="{{groupData.type}}">
            <mat-option *ngFor="let subType of groupData.subType" value="subType" (click)="toggleOption(groupData.type, subType.subType)">{{subType.subType}}</mat-option>
          </mat-optgroup>
          <mat-option *ngFor="let noSubType of noSubTypes" style="color: gray" value="noSubType" (click)="toggleOption(noSubType, null)">{{noSubType}}
          </mat-option>
        </mat-select>
        <mat-hint>Required &nbsp;</mat-hint>
        <mat-hint style="color:red; font-size: 85%">
            {{groupTypeError}}
          </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field *ngIf="isOther" appearance="outline">
        <input [(ngModel)]="createdGroup.type" name="other" matInput placeholder="Please specify other group type">
        <mat-hint>Required &nbsp;</mat-hint>
        <mat-hint style="color:red; font-size: 85%">
            {{groupTypeError}}
          </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.groupLeader" name="groupLeader" matInput placeholder="Group Leader Username">
        <mat-hint>Required &nbsp;</mat-hint>
        <mat-hint style="color:red; font-size: 85%">
          {{groupsLeaderError}}
        </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field style="margin-bottom: 10px;" appearance="outline">
        <input [(ngModel)]="createdGroup.groupMembers" name="groupMembers" matInput placeholder="Group Members' Usernames">
        <mat-hint>Type member usernames separated by commas to add them to group
          <span *ngIf="membersError" style="color:red; font-size: 85%">
            <br> {{membersError}}</span>
        </mat-hint>

      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="20em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <textarea [(ngModel)]="createdGroup.description" name="description" matInput placeholder="Short Description"
          maxlength="500" rows="12"></textarea>
        <mat-hint>500 Characters limit</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <div class="upload-btn-wrapper">
        <button class="upload-file">Choose File</button>
        <input type="file" (change)="fileEvent($event)" />
        <label class="upload-file-name" *ngIf="groupAvatarFile">{{groupAvatarFile.name}}</label>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="12em">
    <mat-grid-tile cols="1">
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <button mat-stroked-button color="primary" routerLink="/home">CANCEL</button>
      <button mat-raised-button color="primary" (click)="creategroup()">CREATE</button>
    </mat-grid-tile>
  </mat-grid-list>
</main>