<main>
  <h2>Create a New Group</h2>
  <mat-grid-list cols="2" rowHeight="6em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.groupname" name="groupname" matInput placeholder="Group Name">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.zipcode" name="zipcode" matInput placeholder="Zip Code">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="createdGroup.grouptype" name="grouptype" placeholder="Group Type">
          <mat-optgroup label="School">
            <mat-option (click) ="toggleOption()" value="Club">Club</mat-option>
            <mat-option (click) ="toggleOption()" value="Classroom">Classroom</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Company">
            <mat-option (click) ="toggleOption()" value="EntireCompany">Entire Company</mat-option>
            <mat-option (click) ="toggleOption()" value="Department">Department</mat-option>
            <mat-option (click) ="toggleOption()" value="SpecialInterestGroup">Special Interest Group</mat-option>
            <mat-option (click) ="toggleOption()" value="BoardCommittee">Board / Committee</mat-option>
          </mat-optgroup>
          <mat-option (click) ="toggleOption()" value="SportsTeam">Sports Team</mat-option>
          <mat-option (click) ="toggleOption()" value="FamilyHousehold">Family/ Household</mat-option>
          <mat-option (click) ="toggleOption()" value="ReligioudGroup">Religious Group</mat-option>
          <mat-optgroup label="Non-Profit">
            <mat-option (click) ="toggleOption()" value="NPEntireCompany">Entire Company</mat-option>
            <mat-option (click) ="toggleOption()" value="NPDepartment">Department</mat-option>
            <mat-option (click) ="toggleOption()" value="NPSpecialInterestGroup">Special Interest Group</mat-option>
            <mat-option (click) ="toggleOption()" value="NPBoardCommittee">Board / Committee</mat-option>
          </mat-optgroup>
          <mat-option (click) ="toggleOption()" value="Other">Other</mat-option>
        </mat-select>
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field *ngIf = "isOther" appearance="outline">
        <input [(ngModel)]="createdGroup.other" name="other" matInput placeholder="Other">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="20em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <textarea [(ngModel)]="createdGroup.shortdescription" name="shortdescription" matInput placeholder="Short Description" maxlength="500"
          rows="12"></textarea>
        <mat-hint>500 Characters limit</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <app-upload></app-upload>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="6em">
    <mat-grid-tile cols="1">
      <button mat-stroked-button color="primary" (click)="creategroup()" routerLink="/home">CANCEL</button>
      <button mat-stroked-button color="primary" (click)="creategroup()" routerLink="/home">CREATE</button>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
    </mat-grid-tile>
  </mat-grid-list>
</main>