<body>
<button mat-button color="primary" style="text-align:left; margin-left:10px; width:100px;"routerLink="/home">
  Back Home
</button>
</body>
<main>
  <h2>Create a New Group</h2>
  <mat-grid-list cols="2" rowHeight="6em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.groupName" name="groupName" matInput placeholder="Group Name">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.zipcode" name="zipcode" matInput placeholder="Zip Code">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <mat-select [formControl]="groupControl" placeholder="Group Type">
          <mat-optgroup *ngFor="let groupData of groupsData; let i = index" value="groupData.type" 
              label="{{groupData.type}}">
            <mat-option *ngFor="let subType of groupData.subType" value="subType"   
                (click)="toggleOption(groupData.type, subType)">{{subType}}
            </mat-option> 
          </mat-optgroup>
          <mat-option *ngFor="let noSubType of noSubTypes" style="color: gray" value="noSubType" 
              (click)="toggleOption(noSubType, null)">{{noSubType}} </mat-option>
        </mat-select>
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field *ngIf = "isOther" appearance="outline">
        <input [(ngModel)]="value" name="other" matInput placeholder="Please specify other group type">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.groupLeader" name="groupLeader" matInput placeholder="Group Leader">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="createdGroup.groupMembers" name="groupMembers" matInput placeholder="Group Members">
        <mat-hint>Type member usernames separated by commas to add them to group</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="20em">
    <mat-grid-tile cols="1">
      <mat-form-field appearance="outline">
        <textarea [(ngModel)]="createdGroup.shortdescription" name="shortdescription" matInput placeholder="Short Description" maxlength="500"
          rows="12"></textarea>
        <mat-hint>500 Characters limit</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <app-upload></app-upload>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="12em">
      <mat-grid-tile cols="1">
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <button mat-stroked-button color="primary" (click)="creategroup()" routerLink="/home">CANCEL</button>
        <button mat-raised-button color="primary" (click)="creategroup()" routerLink="/home">CREATE</button>
      </mat-grid-tile>
    </mat-grid-list>  
</main>