<main>
    <mat-grid-list cols="1" rowHeight="6em">
        <mat-grid-tile>
            <h1>Log in to your account</h1>
        </mat-grid-tile>
            <mat-grid-tile color="accent">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <!-- Get the input data and pass it to Component file with ngModel-->
                    <input [(ngModel)]="username" name="username" matInput placeholder="Username">
                </mat-form-field>
            </mat-grid-tile>
            <mat-divider [vertical]="true"></mat-divider>

            <mat-grid-tile color="accent">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <!-- Get the input data and pass it to Component file with ngModel-->
                    <input [(ngModel)]="password" type="password" name="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-grid-tile>
        <mat-grid-tile gutterSize="20px">
            <mat-checkbox>Remember Me</mat-checkbox>
            <button mat-button color="primary" routerLink="/security">Forgot Password?</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="login()" routerLink="/landing">Sign In</button>
        </mat-grid-tile>
    </mat-grid-list>
</main>