<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>
  <h3 align = "left" style="padding-top:50px; font-weight: bold">Add new, remove or edit existing actions</h3>
  <button mat-button color="primary" (click)="create()"> + Create New</button>   
  <div class="actions-container mat-elevation-z8">
      <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    <mat-table #table [dataSource]="dataSource">

    <!-- Pencil Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell style="width:10px" *matCellDef="let row; let i = index">
        <mat-icon (click)="edit(i)">edit</mat-icon>
      </mat-cell> 
    </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.name}}</mat-cell>
      </ng-container>

       <!-- Max frequency Column -->
      <ng-container matColumnDef="maxFrequency">
          <mat-header-cell *matHeaderCellDef> MAX FREQUENCY </mat-header-cell>
          <mat-cell *matCellDef="let actions"> {{actions.maxFrequency}}</mat-cell>
        </ng-container>
      
      <!-- Frequency cadence Column -->
      <ng-container matColumnDef="frequencyCadence">
          <mat-header-cell *matHeaderCellDef> FREQUENCY CADENCE</mat-header-cell>
          <mat-cell *matCellDef="let actions">{{actions.frequencyCadence}} </mat-cell>
        </ng-container>

      <!-- Eligible Points Column -->
      <ng-container matColumnDef="eligiblePoints">
        <mat-header-cell *matHeaderCellDef> POINTS </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.eligiblePoints}} </mat-cell>
      </ng-container>

      <!-- Fact taken Column -->
      <ng-container matColumnDef="funFact">
        <mat-header-cell *matHeaderCellDef> FACT </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.funFact}} </mat-cell>
      </ng-container>
      
      <!-- Fact Image Column -->
      <ng-container matColumnDef="funFactImageUrl">
        <mat-header-cell *matHeaderCellDef> FACT IMAGE </mat-header-cell>
        <mat-cell *matCellDef="let actions">
            <img src={{actions.funFactImageUrl}} style="width:100px; height:75px">
          </mat-cell>
      </ng-container>

      <!-- Tile Icon Column -->
      <ng-container matColumnDef="tileIconUrl">
        <mat-header-cell *matHeaderCellDef> ICON </mat-header-cell>
        <mat-cell *matCellDef="let actions"> 
            <img src="{{actions.tileIconUrl}}" style="max-width:75px; max-height:75px">
          </mat-cell>
      </ng-container>

      <!-- Carbon Points column -->
      <ng-container matColumnDef="carbonPoints">
          <mat-header-cell *matHeaderCellDef> CARBON POINTS </mat-header-cell>
          <mat-cell *matCellDef="let actions"> {{actions.carbonPoints}}
            </mat-cell>
        </ng-container>

        
      <!-- Assigments URL column -->
      <ng-container matColumnDef="assignmentUrl">
          <mat-header-cell *matHeaderCellDef> ASSIGNMENT URL </mat-header-cell>
          <mat-cell *matCellDef="let actions"> <a *ngIf="actions.assignmentUrl" href="{{actions.assignmentUrl}}" target="_blank">Assignment </a>
            </mat-cell>
        </ng-container>


  
    <!-- Checkbox Column -->
    <ng-container matColumnDef="delete">

        <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell style="width:10px" *matCellDef="let row; let i = index">
        <mat-icon (click)="delete(i)">delete</mat-icon>
      </mat-cell> 
       <!-- <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>-->
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="saveDelete()">Save changes</button>
</main>
