<main>
  <h3 align = "left" style="padding-top:50px; font-weight: bold">Add new, remove or edit existing actions</h3>
  <button mat-button color="primary" (click)="create()"> + Create New</button>
  <br>
  <div class="actions-container mat-elevation-z8">
    <mat-table #table [dataSource]="actions">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.name}}</mat-cell>
      </ng-container>

       <!-- Max frequency Column -->
      <ng-container matColumnDef="maxFrequency">
          <mat-header-cell *matHeaderCellDef> MAX FREQUENCY </mat-header-cell>
          <mat-cell *matCellDef="let actions"> {{actions.maxFrequency}}</mat-cell>
        </ng-container>
      
      <!-- Frequency cadence Column -->
      <ng-container matColumnDef="frequencyCadence">
          <mat-header-cell *matHeaderCellDef> FREQUENCY CADENCE</mat-header-cell>
          <mat-cell *matCellDef="let actions">{{actions.frequencyCadence}} </mat-cell>
        </ng-container>

      <!-- Eligible Points Column -->
      <ng-container matColumnDef="eligiblePoints">
        <mat-header-cell *matHeaderCellDef> POINTS </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.eligiblePoints}} </mat-cell>
      </ng-container>

      <!-- Fact taken Column -->
      <ng-container matColumnDef="funFact">
        <mat-header-cell *matHeaderCellDef> FACT </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.funFact}} </mat-cell>
      </ng-container>
      
      <!-- Fact Image Column -->
      <ng-container matColumnDef="funFactImageUrl">
        <mat-header-cell *matHeaderCellDef> IMAGE </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.funFactImageUrl}} </mat-cell>
      </ng-container>

      <!-- Tile Icon Column -->
      <ng-container matColumnDef="tileIconUrl">
        <mat-header-cell *matHeaderCellDef> ICON </mat-header-cell>
        <mat-cell *matCellDef="let actions"> {{actions.tileIconUrl}} </mat-cell>
      </ng-container>

      <!-- checkbox Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>DELETE</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="save()">Save changes</button>
</main>
