<div class="create-profile-container">
  <main>
   <form>
     <img src="track-change-simplyimpactful/images/Avatar.png" class="bg" alt="">
     <h2 style="padding-top: 50px;"> Create an account by completing the simple steps below:</h2>
    </form>
      <div fxLayout="row">
          <div fxFlex="100">
            <div align="center">
              <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Username">
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
                <mat-hint>Minimum 8 characters, must contain number and special character </mat-hint>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Password">
              </mat-form-field>
            </div>

          </div>
          <div style="height:200px; width:1px; border-left:1px#bbb solid"></div>
          <div fxFlex="100">
            <div align="center">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="Zip Code">
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>School/Company</mat-label>
                <input matInput placeholder="School/Company">
                <mat-hint>Optional</mat-hint> 
              </mat-form-field>
            </div>
          </div> 
        </div>
  </main>
  </div>
   <app-security-questions class="mb-3"></app-security-questions> 
   <mat-grid-list cols="2" rowHeight="15em"><mat-grid-tile><app-upload></app-upload></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button color="primary" (click)="save()" routerLink="/home">Create</button></mat-grid-tile>
  </mat-grid-list>
  
    
  
  
  

