main {
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;

    mat-form-field{
        width: 380px;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content:center;
         }

    img {
        padding-right: 40px;
        padding-top: 25px;
        padding-bottom: 40px;
    }
  }
  button.mat-raised-button {
    width: 250px;
    font-size: 18 px;
}
.mat-grid-tile .mat-figure{
  //  padding-bottom:0px;
    height: 0%; 

}