<div class="create-profile-container">
  <main>
    <form>
      <img src="track-change-simplyimpactful/images/Avatar.png" class="bg" alt="">
      <h2 style="padding-top: 50px;"> Create an account by completing the simple steps below:</h2>
    </form>
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="center">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="newUser.firstName" matInput placeholder="First Name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="newUser.lastName" matInput placeholder="Last Name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input [(ngModel)]="newUser.username" matInput placeholder="Username">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="newUser.password" type="password" matInput placeholder="Password">
            <mat-hint>Minimum 8 characters, must contain number and special character </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div style="height:280px; width:1px; border-left:1px#bbb solid"></div>
      <div fxFlex="100">
        <div align="center">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input [(ngModel)]="confirmPassword" type="password" matInput placeholder="Confirm Password">
            <mat-hint style="color: red; font-size: 85%">{{errorMessage}}</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="newUser.email" matInput placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="newUser.zipcode" matInput placeholder="Zip Code">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>School/Company</mat-label>
            <input [(ngModel)]="newUser.organization" matInput placeholder="School/Company">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </main>
</div>
<app-security-questions class="mb-3"></app-security-questions>
<mat-grid-list cols="2" style-height="0%">
  <mat-grid-tile>
    <app-upload></app-upload>
  </mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="primary" (click)="createAccount()">Create</button></mat-grid-tile>
</mat-grid-list>