<main>
    <button mat-button color="primary" (click)="create()"> + Create New</button>
    <br>
    <div class="userdata-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
  
              <!-- Name Column -->
          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> GROUP </mat-header-cell>
              <mat-cell *matCellDef="let userdata"> {{userdata.name}}</mat-cell>
          </ng-container>

           <!-- Name Column -->
           <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let userdata"> {{userdata.name}}</mat-cell>
            </ng-container>
  
            <!-- Username Column -->
          <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> CREATED BY </mat-header-cell>
              <mat-cell *matCellDef="let userdata"> {{userdata.username}} </mat-cell>
          </ng-container>
  
            <!-- Email Column -->
          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
              <mat-cell *matCellDef="let userdata"> {{userdata.email}}</mat-cell>
          </ng-container>
  
            <!-- ZipCode Column -->
          <ng-container matColumnDef="zipcode">
              <mat-header-cell *matHeaderCellDef> TOTAL POINTS </mat-header-cell>
              <mat-cell *matCellDef="let userdata">{{userdata.zipcode}} </mat-cell>
          </ng-container>
      
              <!-- Action taken Column -->
          <ng-container matColumnDef="carbon">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let userdata"> Join Me </mat-cell>
          </ng-container>
  
             
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
        
 <div>
 <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Soccer Team
            </mat-panel-title>
            <mat-panel-description>
                Johana Smith
            </mat-panel-description>
            <mat-panel-description>
                08.10.2018
            </mat-panel-description>
            <mat-panel-description>
                80
            </mat-panel-description>
            <mat-hint style="font-size:10px;">View All Members</mat-hint>
        </mat-expansion-panel-header>
        <mat-list>
                <h3 mat-subheader>Members</h3>
                <mat-list-item *ngFor="let member of Members">
                  <mat-icon>folder</mat-icon>
                  <h4 mat-line>{{member.name}}</h4>
                  <p mat-line> {{member.points}} </p>
        </mat-list-item>
            </mat-list>
    </mat-expansion-panel>
</mat-accordion>
</div>
</main>
  
  