<app-top-nav></app-top-nav>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>
	<mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
 <!-- Name Column -->
  <ng-container matColumnDef="name">
      <th style="color:black" mat-header-cell *matHeaderCellDef><strong>GROUP</strong> </th>
      <td mat-cell *matCellDef="let groups"> 
              <img style="max-height:100px;max-width:100px;padding:5px" src={{groups.groupAvatar}}>
              <strong style="font-size: 15px; padding-right:5px;">{{groups.name}}</strong>{{groups.description}}
              <div style="color: grey"> View Members
                <mat-icon *ngIf="isCollapsed" (click)="expandedElement=groups; expand()">expand_more</mat-icon>
                <mat-icon *ngIf="isExpanded" (click)="expandedElement=!groups; collapse()">expand_less</mat-icon>
              </div>
        </td>
    </ng-container>

  <!-- Group Leader Column -->
  <ng-container matColumnDef="leader">
      <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>CREATED BY</strong> </th>
      <td mat-cell *matCellDef="let groups"> {{groups.leader}} </td>
    </ng-container>

  <!-- Created Date Column -->
  <ng-container matColumnDef="createdDate">
      <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>DATE</strong> </th>
      <td mat-cell *matCellDef="let groups"> {{groups.createdDate | date:'MM-dd-yy'}} </td>
  </ng-container>

  <!-- Total Points Column -->
  <ng-container matColumnDef="totalPoints">
      <th style="color:black" mat-header-cell *matHeaderCellDef> <strong>TOTAL POINTS</strong> </th>
      <td mat-cell *matCellDef="let groups"> {{groups.totalPoints}} </td>
    </ng-container>

  <!-- Zipcode Column -->
  <ng-container matColumnDef="zipCode">
      <th  style="color:black;" mat-header-cell *matHeaderCellDef> <strong>ZIPCODE</strong></th>
      <td mat-cell *matCellDef="let groups"> {{groups.zipCode}} 
        
      </td>
  </ng-container>

    <!-- Join Group -->
    <ng-container matColumnDef="joinGroup">
        <th  style="color:black;" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let groups; let i = index"> 
            <a (click)="joinGroup(groups)"> Join Group </a>
        </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let groups" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="groups == expandedElement ? 'expanded' : 'collapsed'">
        <div style="margin: 15px;"*ngFor="let member of groups.members">
          <mat-card class="avatar-card" style="color:black">
              <mat-card-header>
                <img mat-card-avatar src="https://s3.amazonaws.com/simply-impactful-image-data/default-profile-pic.png">
              </mat-card-header>
              <mat-card-subtitle>{{member.member}}</mat-card-subtitle>
            <mat-card-subtitle><strong>25 points</strong></mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let groups; columns: columnsToDisplay;"

      class="example-element-row"
      [class.example-expanded-row]="expandedElement === groups"
     >
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
  </tr>
</table>
</main>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->