<main>
  	<mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
  <form>
    <mat-card *ngFor="let action of observableData | async" class="card-container" style="margin-top:20px"(click)="openDialog(action.name, action)">
      <mat-card-header style="float:right;">
          <div mat-card-image class="score-flag">{{action.eligiblePoints}}</div>
      </mat-card-header>
      <img mat-card-image style="width:80px; max-height:100px;" src={{action.tileIconUrl}}>
      <mat-card-subtitle style="color: black; font-size:23.6px;margin-top:5px;">{{action.name}}</mat-card-subtitle>
    </mat-card>
  </form>
</main>