main {
    text-align: left;
    padding-left: 15px;
}
.top-row {
    margin-bottom: 0.25em;
}

.container-div {
    padding: 5px;
}

button.cis-logo {
    height: 12.5em;
    width: 12.5em;
    cursor: pointer;
    background: url('/assets/images/CiS_logo_2@3x.png') left/4.25em no-repeat;
    background-size: 80%;
    border: none;
}

.score-flag {
    height: 2.77em;
    margin-top:-10px;
    margin-left: -30px;
    padding-right: 20px;
    background: url('/assets/images/score-flag.png') no-repeat;
}

form {
    background-color: #D3D3D3;
    cursor: hand;
    padding-bottom: 300px;
    text-align: center;
}

.actions-mat-form-field {
    padding-left:5px;
    width: 300px
}

.actions-mat-card {
    padding: 10px;
    width: 180px;
    height: 180px;
    display: inline-block;
    background-color: #F1F1F3;
    cursor: pointer;
}

.actions-mat-card-header {
    float:right;
}

.actions-mat-card-subtitle {
    color: black;
    font-size:12.6px;
    margin-top:5px;
}

.actions-img {
    margin-top:20px;
    width:80px;
    max-height:100px;
}

.score-box1 {
    height: 50px;
}
