.top-row {
    margin-bottom: 0.25em;
}

button.cis-logo {
    height: 12.5em;
    width: 12.5em;
    cursor: pointer;
    background: url('/track-change-simplyimpactful/images/CiS_logo_2@3x.png') left/4.25em no-repeat;
    background-size: 80%;
    border: none;
}

.score-flag {
    height: 1.77em;
    width: 1.7em;
    background: url('/track-change-simplyimpactful/images/score-flag.png') center/1em no-repeat;
    border: none;
}

form {
    background-color: #D3D3D3;
    padding-left: 25px;
    padding-right: 25px;
    cursor: hand;
}

img {
    height: 20em;
    width: 24em;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 40px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    border: none;
}

.score-box1 {
    height: 50px;
}