<main>
  <div class="top-row">
    <mat-toolbar style="background-color: transparent">
      <mat-toolbar-row>
        <a href="http://www.changeissimple.org/" target="_blank"><button class="cis-logo" title="Navigate to ChangeIsSimple.org"></button></a>
        <span class="spacer"></span>
        <span>Hi {{username}}, what actions have you taken today?</span>
        <span class="spacer"></span>
        Your Score:<span class="score-flag">{{ userscore }}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <form>
    <mat-card *ngFor="let action of actions" class="card-container" style="margin-top:20px"(click)="openDialog('unplug')">
      <mat-card-header style="float:right;">
          <div mat-card-image class="score-flag">{{actionsData.eligiblePoints}}</div>
      </mat-card-header>
  <img mat-card-image src='https://s3.amazonaws.com/simply-impactful-image-data/IMG_20180828_152438%5B1%5D.jpg'>
  </mat-card>
  <!--<mat-card class="card-container" (click)="openDialog('faucet')">
      <mat-card-header style="float:right;">
              <div mat-card-image class="score-flag">5</div>
      </mat-card-header>
      <img mat-card-image src="/assets/images/icons/faucet.png"> 
  </mat-card>
  <mat-card class="card-container" (click)="openDialog('light')">
      <mat-card-header style="float:right;">
              <div mat-card-image class="score-flag">4</div>
      </mat-card-header>
      <img mat-card-image src="/assets/images/icons/lightbulb.png">
  </mat-card>
  <mat-card class="card-container" style="margin-top:-20px"(click)="openDialog('unplug')">
    <mat-card-header style="float:right;">
        <div mat-card-image class="score-flag">8</div>
    </mat-card-header>
<img mat-card-image src="/assets/images/icons/plug.png">
</mat-card>
<mat-card class="card-container" (click)="openDialog('faucet')">
    <mat-card-header style="float:right;">
            <div mat-card-image class="score-flag">5</div>
    </mat-card-header>
    <img mat-card-image src="/assets/images/icons/faucet.png"> 
</mat-card>
<mat-card class="card-container" (click)="openDialog('light')">
    <mat-card-header style="float:right;">
            <div mat-card-image class="score-flag">4</div>
    </mat-card-header>
    <img mat-card-image src="/assets/images/icons/lightbulb.png">
</mat-card> -->
  <br>
  </form>
</main>