main {
    text-align: left;
    padding-left: 15px;
}
.top-row {
    margin-bottom: 0.25em;
}

button.cis-logo {
    height: 12.5em;
    width: 12.5em;
    cursor: pointer;
    background: url('/assets/images/CiS_logo_2@3x.png') left/4.25em no-repeat;
    background-size: 80%;
    border: none;
}

.score-flag {
    height: 2.77em;
    margin-top:-24px;
    background: url('/assets/images/score-flag.png') no-repeat;
}

form {
    background-color: #D3D3D3;
  //  padding-left: 25px;
 //   padding-right: 25px;
    cursor: hand;
    padding-bottom: 300px;
    text-align: center;

}img {
    margin-top:20px;
    height: 80%;
    width: 60%;
  }

.score-box1 {
    height: 50px;
}

.card-container {
    margin: 50px;
    width: 200px;
    display: inline-block;
    height:200px;
    background-color: #F1F1F3;
    cursor: pointer;
  }