<main>
  <div class="top-row">
    <mat-toolbar style="background-color: transparent">
      <mat-toolbar-row>
        <img class="cis-logo" src="/track-change-simplyimpactful/images/cis_logo.jpeg" alt="Change is Simple">

        <span class="spacer"></span>
        <span>Hi {{username}}, what actions have you taken today?</span>

        <span class="spacer"></span>
        <p>Your Score:
          <span class="score-flag">{{ userscore }}</span>
        </p>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
<!--<div class="top-row">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <mat-card>
          <img src="/track-change-simplyimpactful/images/unplug.png" alt="Unplug the lights">
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <img src="/track-change-simplyimpactful/images/turnoffaucet.png" alt="Turn off faucet">
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <img src="/track-change-simplyimpactful/images/turnofflights.png" alt="Turn off lights">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <div class="backimage">
    <form>
      <img src="/track-change-simplyimpactful/images/unplug.png" alt="Unplug the lights" (click)="add('unplug')">
      <img src="/track-change-simplyimpactful/images/turnoffaucet.png" alt="Turn off faucet"(click)="add('faucet')">
      <img src="/track-change-simplyimpactful/images/turnofflights.png" alt="Turn off lights"(click)="add('lights')">
    </form>
    <button mat-raised-button color="primary" (click)="save()" routerLink="/login">View All</button> 
  </div>
     
  <h5 align="left" style="padding-top: 50px"> My Groups</h5>
  <mat-divider></mat-divider>

  <mat-tab-group>
    <mat-tab label="Group 1">
      <h1>This week top three leaders in Group 1</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Group 2">
      <h1>This week top three leaders in Group 2</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Group 3">
      <h1>This week top three leaders in Group 3</h1>
      <p>...</p>
   </mat-tab>
    <mat-tab label="Group 4">
      <h1>This week top three leaders in Group 4</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</main>