<app-top-nav></app-top-nav>
<main>
    <div class="top-row">
        <mat-toolbar style="background-color: transparent">
          <mat-toolbar-row>
            <span class="welcomeMsg">Hi {{user.username}}, what actions have you taken today?</span>
            <div class="level">
              <p class= "scoreMsg"> Your Score: {{user.totalPoints}}</p> 
              <span *ngIf="user.level">
                  <img src="{{user.level}}">                
              </span> 
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
  <div *ngIf="isHomePage" class="backimage">
    <app-action *ngIf="isLoggedIn"></app-action>
    <button mat-raised-button color="primary" (click)="navigate()">View All</button>
  </div>
  <div class="whiteTopBorder"></div>
  <div class="blueBanner"></div>
  <div *ngIf="isHomePage" class="main-body">
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="left" >
          <h5 class="mygroup">My Groups</h5>
        </div>
      </div>
      <div fxFlex="100">
        <div align="right" >
          <button mat-button class="createNewButton" style="font-weight: bold" routerLink="/creategroup">+ Create New</button>
        </div>
      </div>
    </div>
    <!-- removed groups section-->
    <app-my-groups *ngIf="isLoggedIn"></app-my-groups>
    <br>
    <mat-divider></mat-divider>
    <br>
    <br>
    <div>
      <div>
        <div fxLayout="row">
          <div fxFlex="100">
            <h5>Your Available Assignments</h5>
          </div>
        </div>
        <div *ngFor="let assignment of assignments; let i = index" align="left">
          <li>
          <a routerLinkActive="router-link-active" href="{{assignment}}" target="_blank" >{{actionNames[i]}}</a>
          </li>
        </div>
        <br>
        <br>
      </div>
      <div *ngIf="!assignments">
        <h3 style="padding-top: 20px; color:rgb(140,142,144)">You currently have no assignments available</h3>
        <!-- <button mat-button color="primary" (click)="save()" routerLink="/actions">Competitions History</button>-->
      </div>
    </div>
  </div>
  <app-level-popup [(user)]="user" [currLevel]="currLevel" (notifyParent)="getNotification($event)"></app-level-popup>

  <app-actions *ngIf="isViewAll && isLoggedIn"></app-actions>
</main>