<main>
  <div class="top-row">
    <mat-toolbar style="background-color: transparent">
      <mat-toolbar-row>
        <a href="http://www.changeissimple.org/" target="_blank"><button class="cis-logo" title="Navigate to ChangeIsSimple.org"></button></a>
        <span class="spacer"></span>
        <span>Hi {{user.username}}, what actions have you taken today?</span>
        <span class="spacer"></span>
        Your Score:<span class="score-flag"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="backimage">
    <app-action></app-action> 
    <button mat-raised-button color="primary" (click)="save()" routerLink="/actions">View All</button>
  </div>
  <div class="main-body">
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="left">
          <h5 class="mygroup" style="font-weight: bold"> M&nbsp;Y&nbsp;&nbsp;G&nbsp;R&nbsp;O&nbsp;U&nbsp;P&nbsp;S</h5>
        </div>
      </div>
      <div fxFlex="100">
        <div align="right">
          <button mat-button color="primary" style="font-weight: bold" routerLink="/creategroup">+ Create New</button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group>
      <mat-tab style="font-weight: bold" label="Group 1">
        <p align="left" style="padding-left:10px;color:#4db6ac;size:50px">{{group.groupname}}</p>
        <p align="left" style="padding-left:10px;color:#4db6ac;size:40px">{{group.grouptype}}</p>
        <p align="left" style="padding-left:10px;color:#4db6ac;size:40px">{{group.subcategory}}</p>
        <p align="left" style="padding-left:10px;color:#4db6ac;size:40px">{{group.shortdescription}}</p>
        <p align="left" style="padding-left:10px;color:#4db6ac;size:40px">{{group.zipcode}}</p>
        <form>
          <img class = "img-in-tab" src= "/track-change-simplyimpactful/images/CiS_bird_logo.png">
          <h3 style="padding: 20px; color:rgb(140,142,144)" > This week top three leaders in Group 1</h3>
        </form>
        <div align = "left">
          <mat-card class="top-performer-card">
            <mat-card-header>
              <div mat-card-avatar class="top-performer-image"></div>
              <mat-card-title>Emily Hendricks</mat-card-title>
              <mat-card-subtitle>100 points</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-card class="top-performer-card">
            <mat-card-header>
              <div mat-card-avatar class="top-performer-image"></div>
              <mat-card-title>Diana Patel</mat-card-title>
              <mat-card-subtitle>100 points</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-card class="top-performer-card">
            <mat-card-header>
              <div mat-card-avatar class="top-performer-image"></div>
              <mat-card-title>Anna Bachvarova</mat-card-title>
              <mat-card-subtitle>100 points</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <br>
      </mat-tab>
      <mat-tab label="Group 2">
        <h1>This week top three leaders in Group 2</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Group 3">
        <h1>This week top three leaders in Group 3</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Group 4">
        <h1>This week top three leaders in Group 4</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
    <div align ="left">
      <!--<button mat-button color="primary" (click)="save()" routerLink="/actions">View all groups</button>-->
      <a routerLink="/actions"> View all groups</a>
    </div>
    <br>
    <div fxLayout="row">
      <div fxFlex="100">
        <div align="left">
          <h5 class="mygroup" style="font-weight: bold"> C&nbsp;O&nbsp;M&nbsp;P&nbsp;E&nbsp;T&nbsp;I&nbsp;T&nbsp;I&nbsp;O&nbsp;N&nbsp;S </h5>
        </div>
      </div>
      <div fxFlex="100">
        <div align="right">
          <button mat-button color="primary" style="font-weight: bold" routerLink="/creategroup">+ Create New</button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div align = "left">
      <h3 style="padding-top: 20px; color:rgb(140,142,144)" > You currently have no active competitions</h3>
      <!--><button mat-button color="primary" (click)="save()" routerLink="/actions">Competitions History</button>-->
      <a routerLink="/actions" routerLinkActive="router-link-active">Competitions History</a>
      <br>
    </div>
  </div>
</main>