.top-row {
    margin-bottom: 2em;
}

img {
    max-width: 800px;
    height: 6em;
}

img.cis-logo {
    left: 0;
    height: auto;
    width: 10em;
    border: none;
}

.score-flag {
    height: 4em;
    width: 4em;
    background: transparent url('/track-change-simplyimpactful/images/score-flag.png') center/3em no-repeat;
    border: none;
}