<h1>Your Profile</h1>

<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
        <mat-card class="action-card">
            <mat-card-title>Name</mat-card-title>
        </mat-card>
      </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="action-card">
        <mat-card-title>Last Name</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="action-card">
          <mat-card-title>Phone</mat-card-title>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>