main {
    display: flex;
    flex-direction: column;
    padding-top:  0px;
    padding-left: 20em;
    padding-right:20em;
}

mat-form-field {
    width: 300px;
    height: 4px;
    margin: 10px;
    padding: 0px;
    box-sizing: content-box;
}
button.mat-button {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 58 px;
    margin: 10px;
}

button.mat-raised-button {
    font-size: 18 px;
    margin: 10px;
}

.user-profile-card {
    width:  0px;
    margin: -30px;
    height: 100px;
    padding: 0px;
    display: inline-block;
    background-color: white;
    align-self: initial;
  }

  .avatar-size {
      height: 200px;
      width:  200px;
  }