<main>
  <div fxLayout="row">
    <div fxFlex="100">
      <div align="right" style ="text-align:left">
        <mat-card class="user-profile-card">
          <div mat-card-avatar class="user-profile-image"></div>
        </mat-card>
        <h4 style ="font-weight: bold"> {{user.name}} {{user.lastName}}</h4>
        <br>
        <h5> Total Points: {{user.userPoints}} </h5>
        <br>
        <h5> Status: Elephant </h5>
        <br>
      </div>
    </div>
    <div fxFlex="100">
      <div align="center" style = "text-align: right">
        <br>
        <h5  style ="font-weight: bold"> USER NAME :</h5>
        <br>
        <h5  style ="font-weight: bold"> EMAIL:</h5>
        <br>
        <h5  style ="font-weight: bold"> ZIP CODE:</h5>
        <br>
        <h5 style ="font-weight: bold"> SCHOOL/COMPANY:</h5>
      </div>
    </div>
    <div fxFlex="100" *ngIf = "isUserProfile">
      <div align="left" style = "padding-left: 1em">
        <br>
        <h5> {{user.username}}</h5>
        <br>
        <h5> {{user.email}}</h5>
        <br>
        <h5> {{user.address}}</h5>
        <br>
        <h5> {{user.organization}}</h5>
      </div>
    </div>
    <div fxFlex="100" *ngIf = "isEditProfile">
      <div align="left" style = "padding-left: 1em; font-size: 12px">
        <mat-form-field appearance="outline">
          <input [(ngModel)]="updatedUser.username" matInput placeholder="{{user.username}}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input [(ngModel)]="updatedUser.email" matInput placeholder="{{user.email}}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input [(ngModel)]="updatedUser.address" matInput placeholder="{{user.address}}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input [(ngModel)]="updatedUser.organization" matInput placeholder="{{user.organization}}">
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-grid-list cols="2" rowHeight="6em">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <button mat-button color="primary" (click)="editProfile()" *ngIf = "isUserProfile">EDIT PROFILE</button>
      <button mat-raised-button color="primary" (click)="userProfile()" *ngIf = "isEditProfile" >SAVE CHANGES</button>
      <button mat-button style="font-size: 10px; widows: 150em" color="primary" *ngIf = "isEditProfile" (click)="createAccount()">CHANGE PASSWORD / SECURITY QUESTIONS</button>
    </mat-grid-tile>
  </mat-grid-list>
</main>
