<main>
  <h1 style="color:#4db6ac;">Security Questions</h1>
  <form>
    <mat-grid-list cols="2" rowHeight="6em">
        <div style="height:200px; width:1px; border-left:1px#bbb solid">
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Security Question 1">
            <mat-option value="option">What is your favorite color?</mat-option>
            <mat-option value="option">Name of your best friend?</mat-option>
            <mat-option value="option">Favorite Disney character?</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Answer...">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Security Question 2">
            <mat-option value="option">What is your favorite movie?</mat-option>
            <mat-option value="option">What is your favorite meal?</mat-option>
            <mat-option value="option">What is your favorite sport?</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Answer...">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Security Question 3">
            <mat-option value="option">Who is your favorite Superhero?</mat-option>
            <mat-option value="option">What is your favorite Color?</mat-option>
            <mat-option value="option">What city were you born in?</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile cols="1">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Answer...">
        </mat-form-field>
      </mat-grid-tile>
      </div>
    </mat-grid-list>
    <div align="center">
    <button *ngIf="isSecurity" mat-raised-button color="primary" (click)="save()" routerLink="/resetpass">Submit</button>
    <button *ngIf="isCreateProfile" mat-raised-button color="primary" (click)="save()" routerLink="/home">Submit</button> 
  </div>
  </form>
</main>